.contextmenu{
    position: absolute;
    width:150px;      
    background:#F9F9F9;
    border:1px solid #B2B2B2;
    box-shadow: 3px 3px 2px #E9E9E9;
    border-radius:4px;
}

.items{
    list-style:none;
    margin:0px;
    margin-top:4px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:3px;
    font-size:13px;
    color: #333333;
    white-space: nowrap;
    
  }
  .hr { 
    width: 85%; 
    background-color:#E4E4E4;
    border-color:#E4E4E4;
    color:#E4E4E4;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .li{
    padding: 3px;
    padding-left:10px;
  }
  
  
  .items :hover{
    color: white;
    background:#284570;
    border-radius:2px;
  }

  .disable_text_highlighting {
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10  */
    
    /* Currently not supported in Opera but will be soon */
    -o-user-select: none;
    user-select: none;
    }