<div class="disable_text_highlighting">
        <div class="contextmenu" [ngStyle]="{'left.px': x, 'top.px': y}">

                <div *ngFor='let contextMenuItem of contexMentuItems; first as isFirst'>
                        <ul class="items">
                                <hr class="hr" *ngIf='!isFirst && (contextMenuItem.needToshow() || contextMenuItem.showAllways)' />
                                <li class="li" (click)="contextMenuItem.onClick()" *ngIf='(contextMenuItem.needToshow() || contextMenuItem.showAllways)'>{{contextMenuItem.name}}</li>
                        </ul>
                </div>

        </div>
</div>