<div class="disable_text_highlighting">
    <table [title]="text" [ngClass]="{'table-hover' : notSelected}" [style.background]='color'>
        <tr>
            <table (click)="onClick()" (dblclick)="onDbClick()" (contextmenu)="onrightClick($event)">
                <tr>
                    <img [src]='getImgSrc()' class="center" width="70" draggable="false">
                </tr>
                <tr align="middle">
                    {{textToShow}}

                </tr>
            </table>
        </tr>
    </table>

</div>