<div id="overlay">
    <div class="disable_text_highlighting">
        <div ngDraggable class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <div class="lable row">
                            <div class="col-md-3">
                                <img class="img" draggable="false" [src]='getMessaeImage()'>
                            </div>
                            <div class="col-md-9">{{caption}}</div>
                        </div>
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="row">

                        <div class="scrol-lable col-md-12">
                            <label>{{text}}</label>
                        </div>
                    </div>

                    <button class="btn btn-default" *ngIf='button1Visible' (click)='button1Click()'>{{button1Name}}</button>
                    <button class="btn btn-default" *ngIf='button2Visible' (click)='button2Click()'>{{button2Name}}</button>

                </div>
            </div>
        </div>
    </div>
</div>