<nav aria-label="Page navigation" class="disable_text_highlighting">
    <ul class="pagination">
      <li [class.disabled]='currentPage === 1'>
        <a class="pointer" (click)='onPrevPage()' aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li *ngIf='!visiblePageNumbers.includes(1)'>
        <a class="pointer" (click)='onPageChange(1)'>1</a></li>
        <li *ngIf='!visiblePageNumbersContainsNumbers(1, 2)' class="disabled">
          <a class="pointer">...</a></li>
      <li *ngFor = 'let x of visiblePageNumbers; let i = index' [class.disabled]='currentPage === x'
      ><a class="pointer" (click)='onPageChange(x)'>{{x}}</a></li>
      <li *ngIf='!visiblePageNumbersContainsNumbers(numberOfPages , numberOfPages -1)' class="disabled">
      <a class="pointer">...</a></li>
      <li *ngIf='!visiblePageNumbersContainsNumbers(numberOfPages)'>
        <a class="pointer" (click)='onPageChange(numberOfPages)'>{{numberOfPages}}</a></li>
      <li [class.disabled]=' currentPage === numberOfPages'>
        <a class="pointer" (click)='onNextPage()' aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>