
<popup-video 
*ngIf='needToShowPopupVideo' 
(onCloseVideo)='onCloseVideo()'
[videoSrc]="videoUrl">
</popup-video>

<div (dragover)="onDrag($event)" (dragleave)="onDrag($event)" (mouseup)="onDrop()" (mouseleave)="onDrop()" style="margin:0; height: 100%; min-height: 100%">
<div class="row table" style="margin:0; height: 100%; min-height: 100%">

  <div class="table-row">
                        <div class="row" style="margin:0;">
                                        <folder-content-nav-bar 
                                        (RegisterInParent)='registerFolderContentNavBar($event)'
                                        (SearchClick)='onSearchClick($event)'
                                        (CancelClick)='onSearchClear()'>
                                        </folder-content-nav-bar>  
                                </div>
                        
                                <div class="row" style="margin:0;">
                                        <folder-content-nav-bar-path-break
                                        [Path] = 'navBarPath'
                                        [DisableRefresh] = 'disableRefresh'
                                        (PathBarClick) = 'navBarPathBreakClick($event)'>
                                        </folder-content-nav-bar-path-break>
                                </div>    
  </div>

  <div class="table-row body">
         <div class="table-cell body-content-outer-wrapper">
                <div class="body-content-inner-wrapper">
                        <div class="body-content">
                                 <div class="row" style="margin:0; height: 100%; min-height: 100%" (contextmenu)="onrightClick($event)">
                                        <div class="col-md-2 col-xs-4 col-sm-4 col-lg-2 noSpaceToLeft" style="margin:0; height:100%; min-height: 100%">
                                                <folder-content-propery-info [selectedProperties]='selectedProperties'></folder-content-propery-info>
                                        </div>
                                            
                                        <div class="col-md-10 col-xs-8 col-sm-8 col-lg-10 noSpaceToLeft" style="margin:0; height:100%; min-height: 100%">
                                                
                                                <div #scrollArea class="squareSelection scroll-area" (click)="disableSelection()"  oncontextmenu="return false;"> 

                                                        <select [hidden]='dragOver' [(ngModel)]='numberOfElementsOnPage' id="numberOfElementsOnPage" (change)="onNumberOfElementsOnPageChange(numberOfElementsOnPage)" style="left: 50%; position: fixed">
                                                           <option *ngFor='let numOfElementOnPageOption of numberOfElementsOnPageOptions' [ngValue]="numOfElementOnPageOption" [selected]='numberOfElementsOnPage === numOfElementOnPageOption'>{{numOfElementOnPageOption}}</option>
                                                        </select>

                                                        <div class="bottomCenterPossition" [hidden]='dragOver'>
                                                                <folder-content-paging-nav
                                                                (pageChange)='onPageChanged($event)'
                                                                ></folder-content-paging-nav>
                                                        </div>

                                                        <selectable-grid [hidden]='dragOver'
                                                        [listOfFileFolderNames] = 'listOfFileFolderNames'
                                                        (RegisterInParent) = 'registerSelectableGrid($event)'
                                                        (SelectionChanged) = 'onSelectionChanged($event)'
                                                        (ApplyIgnoreDisableSelection) = 'SetIgnoreDisableSelection()'
                                                        (ApplyParentIgnoreOnRightClick) = 'SetIgnoreOnRightClick()'
                                                        (ShowContexMenu) = 'showContexMenuOnCoordinates($event)'
                                                        (DoubleClick) ='selectableDoubleClickEvent($event)'>
                                                        </selectable-grid>

                                                        <folder-content-drag-and-drop class="on-the-back"
                                                         (onDropEnd)='onDrop()' 
                                                         (onError)='onErrorDragAndDrop($event)' 
                                                         (updateViewOnSuccess)='updateViewOnOperation()'
                                                         [currentPath] ='currentPath'
                                                         [hidden]='!dragOver'>
                                                        </folder-content-drag-and-drop>
                                        

                                                        <folder-content-contex-menu [hidden] = '!showContexMenu'
                                                        [x] = 'contexMenuX' 
                                                        [y] = 'contexMenuY'
                                                        [showContexMenu] = 'showContexMenu'
                                                        [selectedFolderContentItem]='selectedFolderContentItem'
                                                        [currentPage] = 'currentPage'
                                                        [currentPath] = 'currentPath'
                                                        [contexMenuType] = 'contexMenuType'
                                                        [numberOfElementsOnPage] = 'numberOfElementsOnPage'
                                                        (clearNavBarSearchText)='clearNavBarSearchText()'
                                                        (showInputBox)='showInputBox($event)'
                                                        (needToLoadingLayer)='showLoadingLayer($event)'
                                                        (needToShowInputBox)='changeShowInputBox($event)'
                                                        (changePopupVideo)='showVideo($event)'
                                                        (showMessageBox)='showMessageBox($event)'
                                                        (needToShowUploadBox)='changeShowUploadBox($event)'>
                                                        </folder-content-contex-menu>                                             
                                                    </div>
                                                

                                                    <div *ngIf ='needToShowInputBox'>
                                                            <input-box [placeHolder] = "inputBoxPlaceHolder"
                                                                       [header] = "inputBoxHeader"
                                                                       [okButtonName] = "inputBoxOkButtonName"
                                                                       [onCancel] = "inputBoxOnCancel.bind(this)"
                                                                       (onSubmit) = "inputBoxOnSubmitEvent($event)"></input-box>
                                                    </div>
                                                    <div *ngIf = 'needToShowMessageBox'>
                                                            <message-box [text] = 'messageBoxText'
                                                                         [buttons] = 'messageBoxButtons'
                                                                         [caption] = 'messageBoxCaption'
                                                                         [messageIcon] = 'messageBoxMessageType'
                                                                         (onButton1Click) = "messageBoxOnButton1Click($event)"
                                                                         (onButton2Click) = "messageBoxOnButton2Click($event)"></message-box>
                                                    </div>
                                                    <div *ngIf='needToShowUploadBox'>
                                                                <upload-form 
                                                                (onCancel)='uploadBoxCancel($event)'
                                                                (onSubmit)='onSubmitUpload($event)'></upload-form>
                                                    </div>
                                        </div>
                                 </div>
                        </div>
                </div>
        </div>
  </div>
        
</div>
</div>
<uploads-grid></uploads-grid>
<loader *ngIf='loading'></loader>
