<div class="disable_text_highlighting">
        <div class="contextmenu" [ngStyle]="{'left.px': x, 'top.px': y}">

                <div *ngFor='let contextMenuItem of contexMentuItems; first as isFirst'>
                        <ul class="items" *ngIf='(contextMenuItem.needToshow() || contextMenuItem.showAllways)'>
                                <hr class="hr" *ngIf='!isFirst' />
                                <li class="li" (click)="contextMenuItem.onClick()">{{contextMenuItem.name}}</li>
                        </ul>
                </div>

        </div>
</div>