<ol class="breadcrumb disable_text_highlighting navBarBreaks">
        <button [title]="'Click to go back'" [disabled]='backButtonDisabled' type="button" class="btn navbar-btn spaceToRight glyphicon glyphicon-arrow-left" (click)='onPathBreakClick(null)'></button>
        <button [title]="'Refresh'" type="button" class="btn navbar-btn spaceToRight glyphicon glyphicon-refresh" (click)='onPathBreakClick(visiblePathBreaks.length -1)'></button>
        <label class="spaceToRight">Current Path:</label>
        <li *ngFor='let pathBreak of visiblePathBreaks; index as i; last as isLast'>
                <a class="cursor" [title]="pathBreak.pathBreak" *ngIf='!isLast && pathBreak.pathBreak !== "..."' (click)='onPathBreakClick(i)'>{{cutString(pathBreak.pathBreak)}}</a>
                <label [title]="pathBreak.pathBreak" *ngIf='isLast && pathBreak.pathBreak !== "..."' class="active disableBold">{{cutString(pathBreak.pathBreak)}}</label>
                <label *ngIf='pathBreak.pathBreak === "..."' class="active disableBold">{{cutString(pathBreak.pathBreak)}}</label>
        </li>
</ol>