<div class="center">
    <div id="login">
        <div class="container center">
            <div id="login-row">
                <div id="login-column" class="col-md-6 center">
                    <div class="login-box col-md-12">
                        <form id="login-form" class="form">
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input [(ngModel)]="usernameInputText" type="text" name="username" id="username" class="form-control" 
                                (keyup.enter)='onLoginClick(usernameInputText,passwordInputText)'>
                                <span class="help-block" *ngIf="true" style="color:red"> {{_userNameMessage}}</span>
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input  [(ngModel)]="passwordInputText" type="password" name="password" id="password" class="form-control"
                                (keyup.enter)='onLoginClick(usernameInputText,passwordInputText)'>
                                <span class="help-block" *ngIf="true" style="color:red">{{_passwordMessage}}</span>
                            </div>
                            <div class="form-group">
                                <input (click)='onRegisterClick(usernameInputText,passwordInputText)' type="button" class="btn btn-default btn-md buttonPossition" value="Register" style="margin-left:10px">
                                <input (click)='onLoginClick(usernameInputText,passwordInputText)' type="button" class="btn btn-default btn-md buttonPossition" value="Login">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf = 'needToShowMessageBox'>
    <message-box [text] = 'messageBoxText'
                 [buttons] = 'messageBoxButtons'
                 [caption] = 'messageBoxCaption'
                 [messageIcon] = 'messageBoxMessageType'
                 (onButton1Click) = "messageBoxOnButton1Click($event)"
                 (onButton2Click) = "messageBoxOnButton2Click($event)"></message-box>
</div>
<loader *ngIf='_isLoading'></loader>