<div class="center" *ngIf='needToShowComponent'>
    <div id="login">
        <div class="container center">
            <div id="login-row">
                <div id="login-column" class="col-md-6 center">
                    <div class="login-box col-md-12">
                            <ul class="nav nav-tabs nav-justified">
                                    <li role="presentation" [ngClass]="loginTabStyles"><a [ngClass]="loginTabStyles" (click)="changeToLoginForm()">Login</a></li>
                                    <li role="presentation" [ngClass]="registerTabStyles"><a [ngClass]="registerTabStyles" (click)="changeToRegisterForm()">Register</a></li>
                                  </ul>
                        <form id="login-form" class="form" [hidden] ='!showLoginForm'>
                            <h3 class="text-center text-info">D-Drive Login</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input [(ngModel)]="usernameInputText" type="text" name="username" id="username" class="form-control" (keyup.enter)='onLoginClick(usernameInputText,passwordInputText)'>
                                <span class="help-block" style="color:red"> {{_userNameMessage}}</span>
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input [(ngModel)]="passwordInputText" type="password" name="password" id="password" class="form-control" (keyup.enter)='onLoginClick(usernameInputText,passwordInputText)'>
                                <span class="help-block" style="color:red">{{_passwordMessage}}</span>
                            </div>
                            <div class="form-group">
                                <input (click)='onLoginClick(usernameInputText,passwordInputText)' type="button" class="btn btn-default btn-md buttonPossition"
                                    value="Login">
                            </div>
                            <div class="form-group">
                                <label class="text-info">
                                    <input [(ngModel)]="rememberMe" type="checkbox" [checked] = "rememberMe" name="remember" (change)='checkBoxChanged(rememberMe)'> Remember me
                                </label>
                            </div>
                        </form>
                        <form id="register-form" class="form" [hidden] ='!showRegisterForm'>
                                <h3 class="text-center text-info">D-Drive Register</h3>
                                <div class="form-group">
                                        <label for="username" class="text-info">Username:</label><br>
                                        <input [(ngModel)]="registerUserNameInputText" type="text" name="registerusername" id="registerusername" class="form-control" (keyup.enter)='onRegisterClick(registerUserNameInputText,registerPasswordInputText, registerRecoveryQuestionInputText, registerRecoveryAnswerInputText)'>
                                        <span class="help-block" style="color:red"> {{_registerUserNameMessage}}</span>
                                    </div>
                                    <div class="form-group">
                                            <label for="recoveryQuestion" class="text-info">Recovery Question:</label><br>
                                            <input [(ngModel)]="registerRecoveryQuestionInputText" type="text" name="recoveryQuestion" id="recoveryQuestion" class="form-control" (keyup.enter)='onRegisterClick(registerUserNameInputText,registerPasswordInputText, registerRecoveryQuestionInputText, registerRecoveryAnswerInputText)'>
                                            <span class="help-block" style="color:red"> {{_registerRecoveryQuestionMessage}}</span>
                                        </div>
                                        <div class="form-group">
                                                <label for="recoveryQuestion" class="text-info">Recovery Answer:</label><br>
                                                <input [(ngModel)]="registerRecoveryAnswerInputText" type="text" name="recoveryQuestion" id="recoveryQuestion" class="form-control" (keyup.enter)='onRegisterClick(registerUserNameInputText,registerPasswordInputText, registerRecoveryQuestionInputText, registerRecoveryAnswerInputText)'>
                                                <span class="help-block" style="color:red"> {{_registerRecoveryAnswerMessage}}</span>
                                            </div>
                                        <div class="form-group">
                                                <label for="password" class="text-info">Password:</label><br>
                                                <input [(ngModel)]="registerPasswordInputText" type="password" name="registerPassword" id="registerPassword" class="form-control" (keyup.enter)='onRegisterClick(registerUserNameInputText,registerPasswordInputText, registerRecoveryQuestionInputText, registerRecoveryAnswerInputText)'>
                                                <span class="help-block" style="color:red">{{_registerPasswordMessage}}</span>
                                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <input type="button" name="register-submit" (click)='onRegisterClick(registerUserNameInputText,registerPasswordInputText, registerRecoveryQuestionInputText, registerRecoveryAnswerInputText)' id="register-submit" class="form-control btn btn-register btn-md" value="Register Now">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf='needToShowMessageBox'>
    <message-box [text]='messageBoxText' [buttons]='messageBoxButtons' [caption]='messageBoxCaption' [messageIcon]='messageBoxMessageType'
        (onButton1Click)="messageBoxOnButton1Click($event)" (onButton2Click)="messageBoxOnButton2Click($event)"></message-box>
</div>
<loader *ngIf='isLoading'></loader>