.squareSelection{
    background-color: LightGrey ;
    padding: 8px 15px;
    z-index: 0;
    position: relative;
    height : 100%;
    width: 100%;
}

.bottomCenterPossition{
    position: absolute;
    bottom: 0; 
    margin: 0;
    left: 50%;
    margin-right: -50%;
}

.infoPanel{
    position: relative;
    width:100%;
    float:left;
    z-index: 1;
    height : 88vh;
    word-break: break-word;
    
}

.noSpaceToLeft{
    padding: 0;
    height : 88vh;
}

.scroll-area{
    width:100%;
    float:left;
    overflow-y:auto;
  }

  .uploadsMain{
    z-index: 1;
    position: absolute;
    bottom: 0; 
    width: 400px;
    /* height: 200px; */
    margin-bottom:0;
  }

  .upoadsBody{
    height: 200px;
    overflow-x:hidden;
  }

  .noSpaceButton{
    margin-bottom: 0;
}
