.dz-drag-hover {
    position: relative;
}
.dz-drag-hover:after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: transparent;
    z-index: 1000;
}