.scroll-area{
    width:100%;
    float:left;
    overflow-y:auto;
  }

  .infoPanel{
    position: relative;
    width:100%;
    float:left;
    z-index: 1;
    height : 100%;
    word-break: break-word;
    
}