.bgcolor{
    background-color: lightgray
}

.uploadsMain{
    z-index: 1;
    position: fixed;
    bottom: 0; 
    width: 400px;
    /* height: 200px; */
    margin-bottom:0;
    cursor: pointer;
  }

  .upoadsBody{
    height: 200px;
    overflow-x:hidden;
  }