<div class="container" (mousemove) = 'shouldOkButtonDisabled($event)'>
    <label for="uname"><b>{{header}}</b></label><br>
    <input #TextInput type="text" [(ngModel)]="inputText" [placeholder]='placeHolder' name="uname" required><br>
    
    <button type="button" (click)='onCancel()'>{{cancelButtonName}}</button>
    <button type="button"
    [disabled] = 'okButtonDisabled'
    [style.cursor] = 'okButtonDisabled?  "not-allowed" : "pointer"'
    (click)='submit(inputText)'>
    {{okButtonName}}</button>
  </div>