<div id="overlay">
  <div class="disable_text_highlighting" (mousemove)='shouldOkButtonDisabled($event)'>
    <div ngDraggable class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <div class="lable row">
              <div class="col-md-12">{{header}}</div>
            </div>
          </h3>
        </div>
        <div class="panel-body">
          <input #TextInput type="text" name="inputText" [(ngModel)]="inputText" [placeholder]='placeHolder' (keyup.enter)='onEnterDown()' required>
          <div class="form-group">
            <button class="btn btn-default" name="cancel"  (click)='onCancelClickEvent()'>{{cancelButtonName}}</button>
            <button class="btn btn-default" name="ok" [disabled]='okButtonDisabled' [style.cursor]='okButtonDisabled ? "not-allowed" : "pointer"' (click)='submit(inputText)' style=" margin-right: 5px">
              {{okButtonName}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>