<div class="disable_text_highlighting">
        <div class="contextmenu" [ngStyle]="{'left.px': x, 'top.px': y}">

                <div *ngFor='let contextMenuItem of contexMentuItems; first as isFirst'>
                        <ul class="items" *ngIf='(contextMenuItem.needToshow() || contextMenuItem.showAllways)'>
                                <hr class="hr" *ngIf='!isFirst' />
                                <li class="li" 
                                (click)="contextMenuItem.onClick()" 
                                (mouseover)='onMouseOver(contextMenuItem)'>
                                {{contextMenuItem.name}} 
                                <span style="float: right;" *ngIf='contextMenuItem.subs' class="glyphicon glyphicon-chevron-right"></span>
                                </li>   
                        </ul>
                </div>
        </div>
</div>